<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Students | Triton Tech</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Icon -->
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- <div class="brand">Triton Tech</div> -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive title-logo" src="img/logo-transparent.png" alt="">
        <div class="brand">Triton Tech</div>
        <div class="address-bar">Corona del Mar High School | Newport Beach, CA</div>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Triton Tech</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Structure</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/students">Students</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/mentors">Mentors</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/sponsors">Sponsors</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" id="donate" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donate<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a data-toggle="modal" data-target="#myModal" href="">Corporate</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="http://www.gofundme.com/tritontech" target="_blank">Individual</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Instructions for Corporate Donors</h4>
          </div>
          <div class="modal-body">
            Corporate donations go through CdM Boosters, as it allows for tax write-offs.
            <br>
            <br>
            To target our specific club, please write <strong>Triton Tech Robotics</strong> in the <strong>Specific Designations</strong> section.
          </div>
          <div class="modal-footer">
            <button id="donate-button" type="button" class="btn btn-primary"><a href="http://cdmboosters.com/donate-any-amount" target="_blank">CONTINUE TO DONATION</a></button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

          <div class="box">
            <div class="row">
                <div class="col-lg-9 text-center">
                  <h3>Interested in joining our team? There's a role for you!</h3>
                </div>
                <div class="col-lg-3 text-center">
                  <button class="apply btn-lg"><a href="https://goo.gl/forms/Iz21ivEIaIsBeGRf2" target="_blank">APPLY NOW</a></button>
                </div>
            </div>
          </div>

          <div class="box">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                  <div class="panel">Team Leadership</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-2">
                  <div class="panel">Business Team</div>
                </div>
                <div class="col-lg-2">
                  <div class="panel">Engineering Team</div>
                </div>
                <div class="col-lg-2">
                  <div class="panel">Logistics Team</div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">
                          <strong>Business Structure</strong>
                      </h2>
                      <hr>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel">Website Design</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel">Sponsor Relations</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel">Social Media & Communication</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel">Media & Merchandise</div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">
                          <strong>Engineering Structure</strong>
                      </h2>
                      <hr>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel">CAD & Fabrication</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel">Safety</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel">Game Components</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel">Pneumatics</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="panel">Chassis & Propulsion</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="panel">Programming & Electronics</div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Logistics Structure</strong>
                    </h2>
                    <hr>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">Scouting</div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">Game Strategy</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="panel">Outreach</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="box">
            <div class="row">
                <div class="col-lg-3">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Seniors</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Amanda Cooper</strong></p>
                    <p>Engineering Team Lead</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Haley Cohen</strong></p>
                    <p>Business Team Lead & Sponsor Relations</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Muhun Kang</strong></p>
                    <p>Safety Engineer</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>George Lee</strong></p>
                    <p>Pneumatics Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Aurelia Phan</strong></p>
                    <p>Chassis & Propulsion Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Ben Flierl</strong></p>
                    <p>Component Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Luc Courtois</strong></p>
                    <p>Component Engineer</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Quinten Grable</strong></p>
                    <p>Component Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Ben Flierl</strong></p>
                    <p>Component Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Elizabeth Greenberg</strong></p>
                    <p>Social Media & Communication</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Danielle Tolsma</strong></p>
                    <p>Logistics & General Management</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Ryan Chan</strong></p>
                    <p>Programming & Electronics</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Katie Kim</strong></p>
                    <p>Media & Merchandise</p>
                </div>
            </div>
          </div>
          <div class="box">
              <div class="row">
                <div class="col-lg-3">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Juniors</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Mitch Cooper</strong></p>
                    <p>Component Engineer</p>
                </div>
            </div>
          </div>
          <div class="box">
            <div class="row">
                <div class="col-lg-3">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Sophomores</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Prescott Campbell</strong></p>
                    <p>CAD & Fabrication Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Ryan Davis</strong></p>
                    <p>Pneumatics Engineer</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Payton Campbell</strong></p>
                    <p>Website</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="img-responsive" src="" alt="">
                    <p><strong>Elizabeth Lee</strong></p>
                    <p>Media & Merchandise</p>
                </div>
            </div>
          </div>
          <div class="box">
            <div class="row">
                <div class="col-lg-3">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Freshmen</strong>
                    </h2>
                    <hr>
                </div>
            </div>
        </div> -->

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Triton Tech &copy; 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
